.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 2%;
}

.welkom{
    text-align: center;
    margin-top: 1%;
}

.welkom > p{
    margin-top: .4%;
}

.functies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 2%;
}

.kieseen{
    font-weight: 600;
    font-size: 20px;
}

.submitAdmin{
    width: 63.5%;
    margin-top: 2%;
}

@media screen and (max-width: 800px) {
    .submitAdmin{
        width: 90%;
    }

    #invoer{
        width: 75%;
    }

    .stats > h2{
        font-size: 16px;
    }

    .kieseen{
        font-size: 15px;
    }

    .datum{
        font-size: 16px;
        display: inline-block;
    }
}