.fa-check-circle{
    color: $oranje;
    font-size: 100px;
}

.check{
    margin-top: 4%;
}

#bedankt{
    text-align: center!important;
}

.bedanktcontent > h1{
    font-size: 40px;
    margin-top: 1%;
}

.bedanktcontent > p{
    font-size: 20px;
}

.buttonHome{
    width: 300px;
    font-size: 20px;
    margin-top: 1.5%;
}

@media screen and (max-width: 800px) {
    .bedanktcontent > h1{
        font-size: 25px;
    }

    .bedanktcontent > p {
        font-size: 20px;
    }

    .buttonHome{
        width: 200px;
        margin-top: 2vh;
    }

    .fa-check-circle{
        margin-right: -60vw;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
}