#leaderbordLB{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftLB{
    margin-left: 3.1%;
    margin-top: 2%;
}

.nummers{
    margin-right: 20px;
    font-size: 40px;
    color: $oranje;
    margin-bottom: -20px!important;
}

.ranking{
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 50px;
    // border-bottom: 4px solid #efefef;
    width: 200px;
}

.top3{
    margin-top: 5vh;
}

.naamLB{
    font-size: 40px;
}

.huidigtop3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vlagleader{
    width: 600px;
    margin-top: 10%;
    margin-left: 50%;
}